.AdminText {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  margin: 0;
}

.AdminPlayerButtons {
  display: flex;
  justify-content: space-between;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 8rem;
  margin-bottom: 8rem;
}
